body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.secure-container {
  display: flex;  
  justify-content: center;
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.form__input--incomplete {
  outline: 1px solid red;
}

.form__input--not_required_incomplete {
  outline:  1px solid orange;
}

textarea #lessonimfo, #lesson-theme {
  max-width: 100%;
}

details[open] {
  background-color: lightgray;
}


details[open] > details[open] {
  background-color: rgb(163, 163, 163);
}

details > input, .form__input, .form__select {
  width: 100%;
}

.form__input--value {
  width: 80px;
}


/* Secure header */
.secure-header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 0.5em;
  background-color: white;
}

.secure-header__container .secure-header__title {
  display: flex;
  flex-flow: row;
}
.secure-header__container .secure-header__nav {
  display: flex;
  flex-flow: row;
}
.secure-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.header_icon_button {
  width: 48;
  size: 48;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  display: grid;
  place-content: center;
}

.header_icon_button:hover,
.header_icon_button:focus-visible {
  transform: scale(1.2);
}

.nav__helper--selected {
  text-decoration-line: underline;
}
/* Icon buttons */
.icon-button {
  width: 24;
  size: 24;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

/* Dashboard */
.middle__button {
  width: 100%;
  font-size: 1.5rem;
  place-content: center;
  display: grid;
  background-color: rgb(240, 240, 240);
}

.middle__button:hover,
.middle__button:focus-visible {
  transform: scale(1.1);
}

.dashboard h5 {
  text-align: center;
}
/* Login */
.public-login .login {
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.login_form--submit_button {
  width: 100%;
  place-content: center;
}

.login_form--password_visibility{
  width: 75px;
}

.login_form--username {
  width: 100%;
}

/* Tables */
table, td {
  border: 1px solid;
}

table th {
  border: 1px solid;
}

/* Utility */
.red {
  background-color: lightcoral !important;
}
.green {
  background-color: lawngreen !important;
}
.orange {
  background-color: coral !important;
}

/* Loading animation */
@keyframes tick { to { transform: rotate(359deg);}}

.loading {
  align-self: center;
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #000;
}
.loading::after{
  content: "";
  position: absolute;
  bottom: 29px;
  left: 30px;
  display: block;
  transform-origin: 0% 100%;
  width: 1px;
  height: 24px;
  background: #000;
  animation: tick 1s infinite linear;
}