/* Bude potřeba upravit (viz https://github.com/gitdagray/mern_stack_course/blob/main/lesson_13-frontend/src/index.css) TODO */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.secure-container {
  display: flex; /* use flexbox layout */
  /*align-items: center; /* center the div vertically */
  justify-content: center; /* center the div horizontally */
}

.form__input--incomplete {
  outline: 1px solid red;
}

.form__input--not_required_incomplete {
  outline:  1px solid orange;
}

textarea #lessonimfo, #lesson-theme {
  max-width: 100%;
}

details[open] {
  background-color: lightgray;
}

details[open] > details[open] {
  background-color: rgb(163, 163, 163);
}

.form__input--value {
  width: 80px;
}

.public-login .login {
  display: flex; /* use flexbox layout */
  align-items: center; /* center the div vertically */
  justify-content: center; /* center the div horizontally */
}

/*.form__input {
  width: 100%;
}*/

@keyframes tick { to { transform: rotate(359deg);}}

.loading {
  align-self: center;
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #000;
}
.loading::after{
  content: "";
  position: absolute;
  bottom: 29px;
  left: 30px;
  display: block;
  transform-origin: 0% 100%;
  width: 1px;
  height: 24px;
  background: #000;
  animation: tick 1s infinite linear;
}